

.row {
    display: flex;
    justify-content: center;
}

.item {
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.mushrooms {
    width: 100px;
    height: 100px;
    background-image: url('./shroom.png');
    background-color: aqua;
}

.Mario {
    width: 100px;
    height: 100px;
    background-image: url('./mario.png');
    background-color: aqua;
}

.buttons {
    width: 200px;
    margin: 0 auto;
}

.right {
    width: 64px;
    height: 64px;
background-image: url(./buttons/right.png);
background-position: right;
}

.left {
    width: 64px;
    height: 64px;
    background-image: url(./buttons/left.png);
    background-position: left;
}

.up {
    width: 64px;
    height: 64px;
    background-image: url(./buttons/up.png);
    background-position:top;
}

.down {
    width: 64px;
    height: 64px;
    background-image: url(./buttons/down.png);
    background-position: bottom;
}